# Ambiente Virtual
env/
venv/
ENV/

# Python temporários
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Logs e sistema
*.log
.DS_Store
Thumbs.db

# PyInstaller output
dist/
build/
Output/

# Build artifacts
build_deb/
*.deb

# Build artifacts  
build_deb/
