# Ambiente Virtual
env/
venv/
ENV/

# Python temporários
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Arquivos de log e sistema
*.log
.DS_Store

# Build outputs
dist/
build/
remove_background.py