[Desktop Entry]
Version=1.0
Type=Application
Name=Amarelo Mind
Comment=Mapa mental interativo
Exec=amarelo-mind
Path=/home/roberto/Projetos/Amarelo-Mind
Icon=AmareloMind
Terminal=false
Categories=Office;Utility;
StartupWMClass=AmareloMind
MimeType=application/x-amind;
