[Desktop Entry]
Version=1.5
Type=Application
Name=Amarelo Mind
Comment=Interactive Mind Mapping Tool with Dark Green Design
Exec=env QT_NO_PORTAL=1 /usr/share/amarelo-mind/AmareloMind -name amarelo-mind %f
Icon=amarelo-mind
Terminal=false
Categories=Office;Utility;
MimeType=application/x-amind;
StartupNotify=false
StartupWMClass=amarelo-mind